html, body{
  /* lo que se escriba aqui, es el estilo general de todo */
  font-family: Helvetica;
  padding: 0px;
  margin:0px;
  font-size: 12px;
}

nav {
  background-color: #f6514A;
  display: flex;
  padding: 10px;
  padding-left: 40px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav ul{           /*ul es la lista*/
  display: flex; /* flex -> sirvepara dar un formato horizontal */
}

/* para darle atributos a los items */
nav li {      /*li son los items de la lista*/
  padding-left: 20px;
  list-style: none;
}

/* para darle estilo al link osea a */
nav li a {
  color: white;
  text-decoration: none;
}

/* para hacer el hover, este funciona en cualquier contexto; para cualquier boton; mientras que llames a la etiqueta todo esta bien */
nav li a:hover {
  color: black;
}

/* Estilo para main section (nav, html son etiquetas); una clase lleva puntos cuando se menciona en estilos */
.main_section{
  padding: 80px;
  text-align: center;
  font-size: 18px;
  color: #049DD9;
  font-weight: bold;
}

.products{
  background-image: url("../images/bck_curve.png");
/*  max-height: 500px; */
  background-size: cover;
  background-position: center top;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.product {
  padding: 10px;
  padding-bottom: 50px;
  margin-top: -75px;
}

.product .content{
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 2px #cecece;
  text-align: center;
  line-height: 30px;
}

.img_content{
  text-align center;
}

.main_button{
background-color: #f6514A;
width: 100px;
padding: 10px;
font-size: 12px;
color: white;
border: 0px;
}

/* Mi INTENTO de estilos para seccion ventajas */
/*.mention_titulo {
  color: #049DD9;
  padding: 10px;
  padding-top: 30px;
  text-align: center;
}

.ad_section{
  padding-top: 80px;
  text-align: left;
  font-size: 18px;
  font-weight: regular;
}

.advantages{
  background-color: white;
  max-height: 500px;
  background-size: cover;
  background-position: center top;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.advantage {
  padding: 10px;
  margin-top: -75px;
}

.advantage .content2{
  padding: 20px;
  padding-top: 35px;
  text-align: left;
  line-height: 10px;
}

.img_content2{
  text-align center;
  padding-bottom: 25px;
}*/

/* Estilos para seccion ventajas */
.mention_titulo {
  color: #049DD9;
  padding: 10px;
  padding-top: 30px;
  text-align: center;
}

.beneficios{
  padding:10px;
  display: flex;
  justify-content: center;
}

.beneficio {
  text-align: center;
  padding: 20px;
}

.text_beneficio{
  color: black;
}

h3 {
  color: #9D9FAA;
}

/*Estilos para seccion mencion*/

.group_mencion{
  background-image: url("../images/bck_curve2.png");
  justify-content: center;
  position: top;
  background-size: cover;
  /*max-height: 180px;*/
  /*padding-bottom: 10px;*/
}

h1.titulo_mencion{
  color: #049DD9;
  padding: 40px;
  text-align: center;
}

.menciones {
  padding-bottom: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.mencion{
  text-align: center;
  padding:20px;
}

.content_mencion{
box-shadow: 0px 0px 2px 5px #e6e5e9;
background-color: white;
padding-bottom: 10px;
}

.content_img{
  background-color: #F2CB05;
  padding: 10px;
}

/*Estilos para fotter*/
footer{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background-color: #F6514A;
  padding: 10px;
  margin-top: 100px;
  color: white;
}

.logos{
  padding-right: 20px;
}

.option {
  padding: 20px;
  padding-top: 20px;
}


/* TARREA - Estilos para el HTML PRODUCTOS*/
/*
.main_productos{
  padding: 50px;
  text-align: center;
  font-size: 18px;
  color: #049DD9;
  font-weight: bold;

}

.productos{
  padding: 10px;
  padding-top: 60px;
  display:grid;
  justify-content: center;
}

.producto{
  padding: 10px;
  margin-top: -75px;
  background-color: white;
  box-shadow: 0 0 2px #cecece;
  display: flex;
}

.img_producto{
  padding-right: 30px;
}

.texto_producto{
  padding-right: 10px;
  margin-right: -90px;
  padding-top: 30px;
  text-align: right;

}

h2.prod_precio h1.prod_titulo{
    font-weight: bold;
    line-height: 30px;
}

p.prod_descripcion{
  line-height: 18px;
  text-align: right;
}

.boton{
  padding-top: 280px;
  padding-right: 40px;

}
.btn_productos{
background-color: #f6514A;
width: 100px;
height: 40px;
padding: 10px;
font-size: 12px;
color: white;
border: 0px;
}
*/

/*Estilos para venta*/
.modulo_pago{
  background-color: white;
  box-shadow: 0px 0px 2px 1px #e6e5e9;
  padding: 10px;
}

.modulo_pago_images{
  max-width: 220px;
  margin: auto;
}

.data{
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #e6e5e9;
  box-sizing: border-box; /*toma de referencia tanto el borde como el padding*/
}

.modulo_pago .main_button{
  padding-top: 10px;
}
